html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #99CBF1;
}

h1 {
    text-align: center;
    margin-top: 0px;
    padding-top : 0.5%;
    padding-bottom: 0.5%;
    color: #F2F2F2;;
}

/*dampen the the minor text on 
the page to a grey rather than a black.
The black stands out too much on the page*/
h2, p, h4 {
  color: #3C3C3C;
}

header {
    background-color: #0B7EFF;
}

/*The div contains the ESRI map object. */
#viewDiv {
  height: 1000px;
  height: 100%;
  width: 1000px;
  width: 70%;
  position: absolute;
  padding-left: 25px;

}

/* The side panel div containing the graph details */
#sidePanel {
  width: 200px;
  float: right;
  position: inline;
  margin: auto;
}

/*class that is programtically added or removed to give the user feedback by making different elements visable or invisable*/
.hidden {
  display: none;
}

/*random spacer divs which help make space to the left and right of the graph information panel*/
.spacer {
  width: 20px;
  width: 5%;
  height: 1000px;
  float: right;
}

/*custom map legend that is super imposed on top of the map*/
#customlegend {
  top: 200px;
  left: 50px;
  position: absolute;
  z-index: 99;
  border-radius: 8px;
  border: 2px solid gray;
  color: gray;
  background: white;
  padding: 10px;
  opacity: 0.9;
}

#legendheader {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
/*remove the dots from each of the custom map legend elements*/
.legenditem {
  list-style-type: none;
}

/*ajust spacing between elements in the legend*/
.legenditem ul {
  padding-left: 10px;
  padding-bottom: 5px;
}
#customlegendlist {
  padding-left: 15px;
  margin-top: 0.75%;
}

