#viewDiv {
  height: 1000px;
  width: 1000px;
  position: fixed;
  padding-left: 25px;

}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#sidePanel {
  width: 500px;
  float: right;
  position: inline;
}

h1 {
    text-align: center;
    margin-top: 0px;
    padding-top : 0.5%;
    padding-bottom: 0.5%;
}

header {
    background-color: #99CBF1;
}

.hidden {
  display: none;
}