#viewDiv {
  height: 1000px;
  height: 100%;
  width: 1000px;
  width: 50%;
  position: absolute;
  padding-left: 25px;

}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #99CBF1;
}

#sidePanel {
  width: 500px;
  width: 30%;
  float: right;
  position: inline;
  margin: auto;
}

h1 {
    text-align: center;
    margin-top: 0px;
    padding-top : 0.5%;
    padding-bottom: 0.5%;
    color: #F2F2F2;;
}

h2, p, h4 {
  color: #3C3C3C;
}

header {
    background-color: #0B7EFF;
}

.hidden {
  display: none;
}

.spacer {
  width: 20px;
  width: 5%;
  height: 1000px;
  float: right;
}