<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>Nitrate vs Cancer Veiwer</title>

  <!-- Style sheets -->
  <!-- ESRI css -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
  <!-- custom css -->
  <link rel=stylesheet type="text/css" href= "{{ url_for('static',filename='css/style.css') }}" />

  <!-- jquery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- D3 data selection thing -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
  <!--ESRI javascript api -->
  <script src="https://js.arcgis.com/4.10/"></script>



</head>
<body>
  <header> <h1>Wisconsin Cancer Rates Correlated with Nitrate Levels</h1> </header>
  <div id="divgrouper">
    <!-- the custom legend is placed custom on top of all of the other content statically on the page. only way it works with ESRI javascript API -->
    <div id="customlegend">
      <h3 id="legendheader">Legend</h3>
      <ul id="customlegendlist">
        <li class="legenditem">
          <span>Caner Rates</span>
          <ul>
            <li class="legenditem">
              <svg width="15" height="15">
                <rect width="15" stroke="black" height="15" fill="red"></rect>
              </svg>
              <span>- 100%</span>
            </li>
            <li class="legenditem">
              <svg width="15" height="15">
                <rect width="15" stroke="black" height="15" fill="red" opacity="0.5"></rect>
              </svg>
              <span>- 50%</span>
            </li>
            <li class="legenditem">
              <svg width="15" height="15">
                <rect width="15" stroke="black" height="15" fill="red" opacity="0.1"></rect>
              </svg>
              <span>- 0%</span>
            </li>
          </ul>

        </li>
        <li class="legenditem postanalysislegenditem hidden">
          <span>Nitrate Levels (PPM)</span>
          <ul>
            <li class="legenditem">
              <svg width="20" height="20">
                <circle stroke="white" r="8" cy="10" cx="10" fill="rgb(0, 0, 255)"></circle>
              </svg>
              <span>- 4+ PPM</span>
            </li>
            <li class="legenditem">
                <svg width="20" height="20">
                  <circle stroke="white" r="8" cy="10" cx="10" fill="rgb(30, 144, 255)"></circle>
                </svg>
                <span>- 2-4 PPM</span>
            </li>
            <li class="legenditem">
                <svg width="20" height="20">
                  <circle stroke="white" r="8" cy="10" cx="10" fill="rgb(176, 224, 230)"></circle>
                </svg>
                <span>- 0-2 PPM</span>
            </li>
            <li class="legenditem">
                <svg width="20" height="20">
                  <circle stroke="white" r="8" cy="10" cx="10" fill="rgb(0, 0, 0)"></circle>
                </svg>
                <span>No Data</span>
            </li>
          </ul>

        </li>
        <li class="legenditem postanalysislegenditem hidden">
          <span>Standard Deviation</span>
          <ul>
              <li class="legenditem">
                  <svg width="20" height="20">
                    <circle stroke="white" r="8" cy="10" cx="10" fill="rgb(128,128,0)"></circle>
                  </svg>
                  <span>High</span>
              </li>
              <li class="legenditem">
                  <svg width="20" height="20">
                    <circle stroke="white" r="8" cy="10" cx="10" fill="rgb(255,255,0)"></circle>
                  </svg>
                  <span>Medium</span>
              </li>  
              <li class="legenditem">
                  <svg width="20" height="20">
                    <circle stroke="white" r="8" cy="10" cx="10" fill="rgb(255,255,204)"></circle>
                  </svg>
                  <span>Low</span>
              </li>  
              <li class="legenditem">
                  <svg width="20" height="20">
                    <circle stroke="white" r="8" cy="10" cx="10" fill="rgb(0, 0, 0)"></circle>
                  </svg>
                  <span>No Data</span>
              </li>    
          </ul>
        </li>
      </ul>
    </div>
    <div id="viewDiv"></div>
    <div class="spacer"></div>
    <div id="sidePanel">
      <h2>Correlation Between Factors</h1>
      <br/>
      <div id="button-container">
        <h4 id="k-value-header">K Coefficent Value</h4>
          <input type="text"></input>
        <button id="submit">Submit</button>
        <img class="loaderToggle hidden" width="25" height="25" src="{{ url_for('static', filename='img/loading.gif') }}"></img>
      </div>
      <p>The K Coefficent is a number that determines how far the infulence of a single location's nitrate concentration speads out over space.</p>
      <br/>
      <!-- correlation factors paragraph will be autopopulated -->
      <p id="correlationfactors"><p>
      <svg class="hidden" id="graphsvg" width="500px" height="500px"></svg>
      <button onclick="window.print();return false;" >Print Copy of Results</button>

    </div>
    <div class="spacer"></div>
  </div>
</body>
  <!-- custom javascript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/shower.js') }}" ></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}" ></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}" ></script>

</html>