<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>Nitrate vs Cancer Veiwer</title>

  <!-- Style sheets -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
  <link rel=stylesheet type="text/css" href= "{{ url_for('static',filename='css/style.css') }}" />
  <!-- D3 data selection thing -->
  <script src="https://d3js.org/d3-selection.v1.min.js"></script>
  <!-- jquery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--ESRI javascript api -->
  <script src="https://js.arcgis.com/4.10/"></script>



</head>
<body>
  <header> <h1>Wisconsin Cancer Rates Correlated with Nitrate Levels</h1> </header>
  <div id="divgrouper">
    <div id="viewDiv"></div>
    <div id="sidePanel">
      <h1>Correlation Between Factors</h1>
      <br/>
      <div id="button-container">
        <h4>K Coefficent Value</h4>
          <input type="text"></input>
        <button id="submit">Submit</button>
      </div>
      <p>The K Coefficent is a number that determines how far the infulence of a single location's nitrate concentration speads out over space.</p>
      <br/>
      <p id="correlationfactors"><p>
      <svg id="graphsvg" width="500px" height="500px"></svg>

    </div>
  </div>
</body>
  <!-- custom javascript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}" ></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}" ></script>

</html>